.logo-img {
  width: 200px;
  height: auto;
}
.cart-hide {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img {
  border-radius: 50%;
  width: 100px;
  height: auto;
}
